
<div class="container py-5">
    <div class="row">
        <div class="col-lg-10 mx-auto col-12 text-center mb-3">
            <h1 class="mt-0 text-primary">Notre Menu</h1>
            <p class="lead">Commencez par une sélection de notre menu de boissons primé ou choisissez un vin dans notre vaste carte des vins. Notre carte des vins comprend plus de 100 millésimes différents et a reçu le prix d'excellence de la chambre de commerce.</p>
        </div>
        <div class="col-12 mt-4">
            <h3 class="text-center">Cocktails</h3>
            <hr class="accent my-5">
        </div>
        <div class="card-columns">
            <div class="card card-body">
                <span class="float-right font-weight-bold">$10</span>
                <h6 class="text-truncate">Chocolate Martini</h6>
                <p class="small">Tito's Vodka et Crème de Cacao Blanche saupoudrées de chocolat râpé à la main.</p>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$9</span>
                <h6 class="text-truncate">Summer Breeze Martini</h6>
                <p class="small">Hendrick's Gin, liqueur de fleur de sureau St. Germain et Brancot Sauvignon Blanc avec un flotteur de Cristalino Cava Brut.</p>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$9</span>
                <h6 class="text-truncate">Sweet Heat Margarita</h6>
                <p class="small">Tequila infusée au jalapeño, triple sec, jus d'ananas, citron vert.</p>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$10</span>
                <h6 class="text-truncate">Prickly Pear</h6>
                <p class="small">New Amsterdam Vodka et liqueur de poire dans un verre bordé de sucre.</p>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$9</span>
                <h6>Classic Martini</h6>
                <p class="small">Seagrams Gin, Dry Vermouth, jus de cornichon, jus d'olive.</p>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$10</span>
                <h6 class="text-truncate">Ruby Red Rosemary Refresher</h6>
                <p class="small">Vodka au romarin infusée maison, liqueur de fleur de sureau Saint-Germain, jus de pamplemousse et un soupçon de soda.</p>
            </div>
        </div>
        <div class="col-12 mt-4">
            <h3 class="text-center">Entrées</h3>
            <hr class="accent my-5">
        </div>
        <div class="card-columns">
            <div class="card card-body">
                <span class="float-right font-weight-bold">$9.95</span>
                <h6 class="text-truncate">Fried Shrimp</h6>
                <p class="small">Crevettes rouges argentines élevées de manière durable, frites dorées et servies avec de la mayonnaise chipotle pour tremper.</p>
                <span class="font-weight-bold small">Ajouter marinara ou tartare: $2</span>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$8.95</span>
                <h6 class="text-truncate">Tuscan Bruschetta</h6>
                <p class="small">Pain italien tranché croustillant garni de basilic, d'huile d'olive extra vierge, de tomates hachées, d'ail et de fromage mozzarella frais. Cuit jusqu'à ce qu'il soit bien croustillant et servi avec une réduction de balsamique.</p>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$7.95</span>
                <h6 class="text-truncate">Quesadilla</h6>
                <p class="small">Jack et fromage cheddar, piments verts doux hachés dans une tortilla de farine grillée à la poêle. Servi avec crème sure, guacamole et pico de gallo frais.</p>
                <div class="font-weight-bold small">Ajouter Chili: $2</div>
                <div class="font-weight-bold small">Ajouter du porc effiloché au barbecue: $2</div>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$9.95</span>
                <h6 class="text-truncate">Wings</h6>
                <p class="small">Une douzaine de nos ailes de poulet croustillantes et savoureuses. Sélectionnez 1 de nos 4 assaisonnements.</p>
                <div class="font-weight-bold small">Classic Sweet BBQ</div>
                <div class="font-weight-bold small">Hot Buffalo Sauce</div>
                <div class="font-weight-bold small">Sriracha Honey Fish Sauce</div>
                <div class="font-weight-bold small">Scorching Hot Habanero</div>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$8.95</span>
                <h6 class="text-truncate">Ultimate Nacho Platter</h6>
                <p class="small"> Croustilles tortilla de maïs maison, fromage cheddar-Jack fondu, salsa chili douce d'Anaheim, haricots frits, guacamole &amp; sour cream</p>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$10</span>
                <h6 class="text-truncate">Stuffed Clams</h6>
                <p class="small">Trois gros farcis aux palourdes hachées, saucisse portugaise chouriço moyennement épicée, bacon haché, oignons, poivrons, une touche de piment rouge broyé, chapelure et épices, garnis de bacon.</p>
            </div>
        </div>
        <div class="col-12 mt-4">
            <h3 class="text-center">Plats principaux</h3>
            <hr class="accent my-5">
        </div>
        <div class="card-columns">
            <div class="card card-body">
                <span class="float-right font-weight-bold">$17.95</span>
                <h6 class="text-underline">Fat Tuesday Salad</h6>
                <p class="small">Poitrine de poulet cajun tranché chaud à la Nouvelle-Orléans avec mesclun, tomates, concombres et œufs durs avec une vinaigrette chaude et épicée à la moutarde et au miel garnie de bacon émietté.</p>
                <span class="font-weight-bold small"></span>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$25.95</span>
                <h6>Braised Boneless Beef Short Ribs</h6>
                <p class="small"> Braisé bas et lent, il en résulte une viande profondément parfumée, sublimement succulente et tendre comme on peut l'imaginer, tout en conservant une texture merveilleuse. Servi sur un lit de pommes de terre écrasées à l'ail. Servi avec choix d'accompagnement supplémentaire. </p>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$15.95</span>
                <h6>Jambalaya</h6>
                <p class="small"> Crevettes, poulet, andouille, riz et légumes et épices traditionnels jambalaya. Garni de confettis de poivrons rouges et jaunes sucrés.</p>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$12.95</span>
                <h6>Stuffed Jumbo Shrimp</h6>
                <p class="small"> Chair de crabe, pétoncles hachés, champignons, fromage Jack, chapelure assaisonnée, farce au vin blanc et au beurre. </p>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$25.95</span>
                <h6>Sirloin Steak Tips</h6>
                <p class="small"> Morceaux de surlonge marinés tendres et savoureux sautés à l'ail et au poivre noir, garnis de champignons de Paris et d'une demi-glace de bœuf. (Le degré de cuisson variera légèrement en raison des variations de taille des morceaux). Accompagné d'une purée de pommes de terre à l'ail dopé au Gorgonzola. Servi avec choix d'accompagnement supplémentaire.</p>
            </div>
            <div class="card card-body">
                <span class="float-right font-weight-bold">$14.95</span>
                <h6>Pasta Pomodoro</h6>
                <p class="small"> Rigatoni à l'ail frais rôti avec une sauce légère d'huile d'olive extra vierge de Californie, tomates fraîches hachées, basilic, ail, poivre noir et une pincée de piment rouge broyé. Garni de tomates séchées au soleil et de copeaux de parmesan. </p>
            </div>
        </div>
        <div class="col-12 mt-4">
            <hr class="accent my-5">
        </div>
        <div class="col-6 mx-auto">
            <div class="card card-body text-center">
                <h5 class="text-uppercase">Mardi seulement!</h5>
                <h6>Albondigas Soup</h6>
                <p class="small"> Une tasse ou un bol fumant de soupe de légumes aux boulettes de viande mexicaine garnie de lanières de tortilla croustillantes et de fromage cheddar-Jack frais. Si vous aimez la cuisine mexicaine, essayez ceci!</p>
                <span class="float-right font-weight-bold">$7</span>
            </div>
        </div>

    </div>
</div>